@font-face {
    font-family: "VividSans";
    src: url("../font/VividSans-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }
@font-face {
    font-family: "LTSuperior";
    src: url("../font/LTSuperior-Regular.otf") format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }
body {
    background: top center no-repeat;
    background-image: url('../img/starod_2.jpg');
    background-blend-mode: screen;
    background-color: #98909c;
}

.container {
    
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
.hero_day {
    margin: 30px 0;
    text-transform: uppercase;
    position: relative;
    font-family: 'VividSans';
    font-size: 36px;
}
.fire_1, .fire_2 {
    position: absolute;
    width: 20px;
}
.fire_1 {
    left: -20px;
}

.date {
    display: flex;
    position: relative;
    text-shadow: 3px 3px 5px rgb(32, 32, 32);
    font-family: 'VividSans';
}

.heart_1 {
    height: 20px;
    position: absolute;
    left: -25px;
    top: 3px;
}
.heart_2 {
    height: 20px;
    position: absolute;
    right: -25px;
    top: 3px;
}

.cake_photo {
    width: 100px;
    margin-top: 30px;
}

.surname {
    text-transform: uppercase;
    text-align: center;
    color: rgb(184, 34, 34);
    margin: 30px 0;
    font-size: 30px;
    font-family: 'LTSuperior';
}
.congratulation {
    text-align: center;
    font-size: 24px;
    font-family: 'LTSuperior';
}
.main_photo_block {
    width: 200px;
    /* height: 150px; */
    margin: 30px 0;
}
.position {
    text-align: center;
    font-size: 20px;
    font-family: 'LTSuperior';
}

.footer {
    width: 100%;
}
.footer_block {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    margin: 50px 0 10px;
}
.footer_love_block {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}
.footer img{
    height: 20px;
}