
@font-face {
    font-family: "LTSuperior-regular";
    src: url("../font/LTSuperior-Regular.otf") format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }

@font-face {
    font-family: "LTSuperior-bold";
    src: url("../font/LTSuperior-Bold.otf") format("truetype");
    font-style: normal;
    font-display: swap;
  }
@font-face {
    font-family: "LTSuperior-semibold";
    src: url("../font/LTSuperior-Semibold.otf") format("truetype");
    font-style: normal;
    font-display: swap;
  }
@font-face {
    font-family: "Wolgadeutsche";
    src: url("../font/Wolgadeutsche.otf") format("truetype");
    font-style: normal;
    font-display: swap;
  }
@font-face {
    font-family: "Everlasting";
    src: url("../font/Everlasting.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
  }


body {
    background-color: black;
    font-family: 'LTSuperior-regular';
}

.container {
    background: top center no-repeat ;
    background-image: url('../img/starod_2.jpg');
    background-blend-mode: screen;
    background-color: #98909c;
    min-width: 400px;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
}
.ab {
    position: absolute;
    right: 0;
    top: 0;
    width: 15px;
}

.hero_day {
    margin: 10px 0;
    text-transform: uppercase;
    position: relative;
    font-family: 'Wolgadeutsche';
    font-size: 30px;
}
.fire_1, .fire_2 {
    position: absolute;
    width: 20px;
}
.fire_1 {
    left: -20px;
}

.date {
    display: flex;
    position: relative;
    text-shadow: 3px 3px 5px rgb(32, 32, 32);  
}

.cake_photo {
    width: 100px;
    margin-top: 20px;
}

.surname {
    text-transform: uppercase;
    text-align: center;
    color: rgb(73, 23, 209);
    margin: 30px 0;
    font-size: 40px;
    font-family: "Everlasting";
}
.congratulation {
    text-align: center;
    font-size: 24px;
    font-family: "LTSuperior-semibold";
}
.baloons {
    height: 250px;
    margin: 35px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.baloons img {
    height: 100%;
}
.push_baloons {
    color: rgb(73, 23, 209);
    font-family: "LTSuperior-semibold";   
}
.push_block {
    display: flex;
    gap: 10px;
}
.arrow_push_baloons {
    width: 20px;
}
.position {
    text-align: center;
    font-size: 20px;
    font-family: "LTSuperior-semibold";
}
.flower_photo_block {
    width: 200px;
    margin: 35px 0;
}

.ninja_block img{ 
    
}
.ninja_text {
  font-family: 'Wolgadeutsche';  
  font-size: 24px;
}

.footer {
    width: 100%;
    
}
.footer_block {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0 10px;
}
.footer_love_block {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}
.footer img{
    height: 20px;
}